---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />

  <section class="flex flex-col gap-y-4">
    <h2 class="text-xl font-medium">latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.length > 0 ? (
          blog.map((post) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))
        ) : (
          <li class="text-muted-foreground">no posts</li>
        )
      }
    </ul>

    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'outline' }) +
          ' group relative inline-flex items-center justify-center px-6'}
      >
        <!-- label -->
        <span
          class="transition-transform duration-300 group-hover:-translate-x-2"
        >
          see all
        </span>

        <!-- arrow, anchored right -->
        <span class="absolute inset-y-0 right-3 flex items-center">
          <span
            class="-translate-x-1 opacity-0 transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-100"
          >
            &rarr;
          </span>
        </span>
      </Link>
    </div>
  </section>
</Layout>
